#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.header{
  border: yellow solid;
  padding: 20px;
}
.home{
  border: red solid;
  height: 100%;
  
}
.article-list-img{
  max-width:10%;
  max-height: 10%;
}
.article-list-item{
  display:flex;
  flex-direction: row;
  border: solid black;
  border-radius: 10px;
}

h4{
  font-size: small;
}
p{
  font-size: smaller;
}
li{
  list-style-type: none;
}
ul{
  margin: 0px 0px;
  padding: 20px
}
h3 {
  margin: 0px;
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
.bottom {
  position: absolute;
  bottom: 0;
}